[alias]
	ca = commit --amend
	ss = status --short
	cane = commit --amend --no-edit
	dc = diff --cached
[commit]
	; gpgsign = true
	verbose = true # Include diff below commit message template.
[user]
	email = emivespa1@gmail.com
	name = Emilio Vesprini
