# Whitelist mode:

*

# (Especially important for git tracking $HOME. Otherwise if you forget to
# git-init a subfolder, you'd be commiting things to this repo without
# noticing.)

!.envrc
!.Xresources
!.bashrc
!.config
!.config/nextjs-nodejs
!.config/nextjs-nodejs/**
!.config/youtube-dl
!.config/youtube-dl/**
!.config/yt-dlp
!.config/yt-dlp/**
!.config/nvim
!.config/nvim/**
!.editorconfig
!.gitignore
!.npmrc
!.profile
!.tmux.conf
