# Whitelist mode:

*

# (Especially important for git tracking $HOME. Otherwise if you forget to
# git-init a subfolder, you'd be commiting things to this repo without
# noticing.)

!.Xresources
!.bashrc
!.config
!.config/autostart
!.config/autostart/**
!.config/home-manager
!.config/home-manager/**
!.config/nextjs-nodejs
!.config/nextjs-nodejs/**
!.config/nvim
!.config/nvim/**
!.config/sxhkd
!.config/sxhkd/**
!.config/youtube-dl
!.config/youtube-dl/**
!.config/yt-dlp
!.config/yt-dlp/**
!.editorconfig
!.envrc
!.gitignore
!.profile
!.tmux.conf
!.xprofile
!Desktop/fmenu_run.desktop
