! xrdb ~/.Xresources

*font: xft:Ubuntu Mono:size=12

! white on black:
XTerm.vt100.reverseVideo: true
! *background:   #241f31
! *foreground:  #f6f5f4

! theme stolen from kgx terminal emulator:
*color0:   #241f31
*color1:   #c01c28
*color2:   #2ec27e
*color3:   #f5c211
*color4:   #1e78e4
*color5:   #9841bb
*color6:   #0ab9dc
*color7:   #c0bfbc
*color8:   #5e5c64
*color9:   #ed333b
*color10:  #57e389
*color11:  #f8e45c
*color12:  #51a1ff
*color13:  #c061cb
*color14:  #4fd2fd
*color15:  #f6f5f4

! urxvt
!
! https://wiki.archlinux.org/title/Rxvt-unicode

urxvt.clipboard.autocopy: true
urxvt.cutchars: " 	│"
! (space, tab, tmux box drawing pipe)
urxvt.scrollBar: false

! xterm
!
! https://wiki.archlinux.org/title/Xterm

XTerm.Maximized: true
! https://wiki.archlinux.org/title/Locale#My_terminal_does_not_support_UTF-8
XTerm.utf8: 2
XTerm.VT100.Geometry: 80x25
! Make alt key normal:
XTerm.vt100.metaSendsEscape: true
! Make Ctrl+Shift+x/c/v work as expected:
XTerm.VT100.Translations: #override\n\
	Shift Ctrl <KeyPress> x: cut-selection(CLIPBOARD)\n\
	Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n\
	Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD)\n
XTerm.VT100.cursorBlink: never
